@forward "welcome";
@forward "btn";
@forward "coworkers";
@forward "tasks";
@forward "reports";

@forward "menu";
@forward "logo";
@forward "menu-btn";
@forward "notification";
@forward "notification-btn";
@forward "search";
@forward "badges";
