@forward 'welcome';
@forward 'coworkers';
@forward 'tasks';
@forward 'reports';

@forward 'btn/variables';
@forward 'menu';
@forward 'logo';
@forward 'menu-btn';
@forward 'notification';
@forward 'notification-btn';
@forward 'search';
@forward 'coworkers';
