@use '../utils/placeholders';
@use '../utils/variables' as var;
@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.notification {
  flex-shrink: 0;

  display: block;
  width: 28px;
  height: 20px;
  padding: 0 10px;

  background-color: fn.get-color('danger');
  border-radius: 12px;
  color: fn.get-color('light-primary');
}
