//button settings
$btn-padding-x: 12px !default;
$btn-padding-y: 12px !default;
$btn-layer-min-width: 32px !default;
$btn-layer-min-height: 32px !default;
$btn-layer-spacing: 0px !default;
$btn-layer-border-radius: 12px !default;

//button text settings
$btn-text-size: 14px !default;
$btn-text-weight: 500 !default;
$btn-line-height: 20px !default;
$btn-text-spacing: 0.5px !default;
$btn-text-color: #fafafb !default;

//button types
$btn-types: (
  primary,
  secondary,
  default,
  danger,
  warning,
  success,
  info,
  transparent,
  frame
) !default;

//button base styles
// @import 'btn-base';

//button variants
// @import 'types/primary';
