@use 'sass:list';
@use '../variables' as var;

@if list.index(var.$btn-types, danger) {
  /* ==Danger-- */
  .btn--danger {
    background-color: #fc5a5a;

    &:active {
      background-color: adjust(#fc5a5a, -10%);
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        background-color: adjust(#fc5a5a, +10%);
      }
    }

    &[disabled] {
      background-color: #b5b5be;
    }
  }
}
