@use 'sass:list';
@use '../variables' as var;

@if list.index(var.$btn-types, default) {
  /* ==Defautl== */
  .btn--default {
    background-color: #92929d;

    &:active {
      background-color: adjust(#92929d, -10%);
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        background-color: adjust(#92929d, +10%);
      }
    }

    &[disabled] {
      background-color: #b5b5be;
    }
  }
}
